@import url('http://fonts.googleapis.com/css?family=Manrope');
* {
    font-family: Manrope;
    scroll-behavior: smooth;
}
body {
    background-color: #04080C;
}
nav {
    background-color: #131B23;
    position: fixed;
    top: 0;
    left: 0;
    height: 96%;
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    margin-top: 1%;
    margin-left: 1%;
    border: 1px solid #2274A5; /* Added white border */
    transition: all .1s ease-in-out;
    z-index: 10000;
}
nav:hover {
    border: 1px solid #E9F1F7; /* Added white border */
}
nav .nav-btn {
    display: block; /* Stack buttons vertically */
    color: #944BBB; /* Changed icon color */
    width: 100%; /* Full width */
    margin: 20px 0; /* Add some space between buttons */
    border-radius: 10px; /* Rounded borders similar to button container */
    transition: all .1s ease-in-out;
}
nav .nav-btn:hover {
    color: #E9F1F7;
}
#section_1 {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .075) 50%, rgba(0, 0, 0, 0.4) 100%);
}
#section_1 h1 {
    font-size: 300%;
    color: #944BBB;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(25vh);
    margin-right: 0;
    margin-left: 0;
}
#line {
    color: white;
}
#section_1 h3 {
    font-size: 200%;
    color: #2274A5;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(61.5vh);
}
svg {
    display: fixed;
    font-size: 1000%;
    width: 100%;
    height: 300px;
    z-index: -1;
    position: absolute;
}
#svgText {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}
.text-copy:nth-child(1){
  stroke: #131b23;
  animation-delay: -1;
}

.text-copy:nth-child(2){
  stroke: #E9F1F7;
  animation-delay: -2s;
}

.text-copy:nth-child(3){
  stroke: #AA7BC3;
  animation-delay: -3s;
}

.text-copy:nth-child(4){
  stroke: #944BBB;
  animation-delay: -4s;
}

.text-copy:nth-child(5){
  stroke: #2274A5;
  animation-delay: -5s;
}
@keyframes stroke-offset{
  100% {stroke-dashoffset: -35%;}
}
#section_2 {
background: linear-gradient(to bottom, rgba(0, 0, 0, .4) 0%, rgba(0, 0, 0, 0.7) 100%);
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    /* border: 1px solid white; */
    width: 96.75vw;
    height: 100vh;
    float: right;

}
#section_2 .grid-item {
    width: auto;
    height: auto;
    background-color: transparent;
    /* border: 1px solid white; */
    justify-content: center;
    align-content: center;
}
#left {
    margin-left: auto;
    margin-right: 10px;
}
#right {
    margin-right: auto;
    margin-left: 10px;
}
.top {
    transform: translateY(17.5%);
}
.bottom {
    transform: translateY(-17.5%)
}
.content {
    background-color: #131b23;
    width: 500px;
    height: 300px;
    z-index: 5000;
    margin: 0;
    padding: 30px;
}
.content h1 {
    color: white;
    font-size: 300%;
}
#C {
    color: white;
}

#Y {
    color: #AA7BC3;
}

#R {
    color: #944BBB;
}

#U {
    color: #2274A5;
}

#S {
    color: #04080C;
}
.for {
    color: #944BBB;
}
.you {
    color: #2274A5;
}
.content h3 {
    color: white;
    font-size: 150%;
    margin-top: 7.5%;
}
.maintext {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Optional: This will push the elements to the edges of the container */
}
#execute {
    font-size: 200%;
}
#showCY {
    width: auto;
    height: auto;
    font-size: 50px;
    color: white;
    margin-left: 5px;
}
#showCY.EC {
    color: #944BBB;
}
#showCY.VC {
    color: #AA7BC3;
}
#showCY.GR {
    color: #2274A5;
}
#terminal {
    background-color: transparent;
    padding: 10px;
    margin-top: 20px;
    width: 45%;
}
#info {
    display: flex;
    align-items: center;
}
#info h3 {
    text-align: right;
    font-size: 85%;
}
#wave {
    color: #944BBB;
    font-size: 500%;
    transform: translateY(5%);
}
#wave1 {
    color: #2274A5;
    font-size: 500%;
    transform: translateY(5%);
}
#vocalInfo {
    margin-right: 55px;
    text-align: left !important;
}
#swipe {
    font-size: 600%;
    color: #AA7BC3;
    margin-top: 20px;
    margin-right: 35px;
    padding: 25px;
}

.low-opacity {
    opacity: 0.3 !important;
    transition: all .1s ease-in-out;
}
.high-opacity {
    opacity: .8 !important;
    transition: all .1s ease-in-out;
}
.user-text {
    color: #E9F1F7;
    text-align: left;
    background-color: #131B23;
    padding: 10px;
    margin-bottom: 10px;
    display: block;
    border-radius: 10px;
    border: 1px solid #E9F1F7; /* Add border */
    transition: all .1s ease-in-out;
  }
.chatbot-text {
    color: #E9F1F7;
    text-align: left;
    background-color: #131B23;
    padding: 10px;
    margin-bottom: 10px;
    display: block;
    border-radius: 10px;
    border: 1px solid #E9F1F7; /* Add border */
    transition: all .1s ease-in-out;
  }
.message-icon {
    font-size: 24px;
    margin-right: 8px;
    float: left;
    color: #944BBB; /* Changed icon color */
    transition: all .1s ease-in-out;
  }
.chat-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Push the button container to the bottom */
    height: 100vh;
    max-width: 700px;
    margin: 0 auto; /* Center the container */
    padding: 10px; /* Add some padding */
    box-sizing: border-box; /* Include padding in the container's width and height */
    transition: all .1s ease-in-out;
}
.button-container {
    background-color: #131B23;
    border: 1px solid #2274A5;
    border-radius: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .1s ease-in-out;
    margin-bottom: 1%;
}
.button-container:hover {
    border-color: #E9F1F7;
}
#cyrusButton {
    color: #944BBB;
}
.microphone-icon.recording > span {
    color: red;
    transition: all .1s ease-in-out;
}
.voiceoptions.recording > span {
    color: red;
    transition: all .1s ease-in-out;
}
.microphone-icon {
    position: relative;
    color: #944BBB; /* Changed icon color */
    background-color: #131B23;
    width: 48%;
    margin: .2%;
    float: left;
    transition: all .1s ease-in-out;
}
.microphone-icon:hover > span {
    color: #8B0000;
    transition: all .1s ease-in-out;
}
.microphone-icon.recording:hover > span {
    color: red;
    transition: all .1s ease-in-out;
}
.microphone-icon:hover .record-text {
    color: #2274A5;
    transition: all .1s ease-in-out;
}
.remove-button {
    display: flex; /* Make the button a flex container */
    justify-content: center; /* Center the items horizontally */
    align-items: center; 
    position: relative;
    color: #944BBB; /* Changed icon color */
    background-color: #131B23;
    width: 48%;
    margin: .2%;
    float: left;
    transition: all .1s ease-in-out;
}
.remove-button:hover > span {
    color: green;
    transition: all .1s ease-in-out;
  }
.remove-button > span {
    position: absolute;
    right: 16px;
    transition: all .1s ease-in-out;
  }
.record-text {
    position: absolute;
    left: 55%;
    transform: translateX(-50%);
    width: 80%;
    text-align: center;
    color:#E9F1F7;
    transition: all .1s ease-in-out;
}
.remove-text {
    position: absolute;
    right: 55%;
    transform: translateX(50%);
    width: 80%;
    text-align: center;
    color:#E9F1F7;
    transition: all .1s ease-in-out;
}
.remove-button:hover .remove-text {
    color: #2274A5;
    transition: all .1s ease-in-out;
}
.user-text, .chatbot-text {
    z-index: 3;
    transition: all .1s ease-in-out;
}
section {
    height: 100vh;
    /* border: 1px solid white; */
}
#section_3 {
    position: relative;
}
#VideoStream {
    position: absolute; /* Add this line */
    width: 100vw;
    height: 99.9vh;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.7);
    border-color: white;
}
.sidebar {
    background-color: #131B23;
    position: relative; /* Change from absolute to relative */
    top: 0;
    right: 0;
    height: auto;
    width: 50px;
    z-index: 10;
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    margin-top: 1%;
    margin-right: 1%;
    border: 1px solid #2274A5; /* Added white border */
    transition: all .1s ease-in-out;
    transform: translateY(150%);
}
.sidebar:hover {
    border: 1px solid #E9F1F7; /* Added white border */
}
.sidebar .videooptions {
    display: block; /* Stack buttons vertically */
    color: #944BBB; /* Changed icon color */
    width: 100%; /* Full width */
    margin: 10px 0; /* Add some space between buttons */
    border-radius: 10px; /* Rounded borders similar to button container */
    transition: all .1s ease-in-out;
}
.sidebar .videooptions:hover {
    color: #E9F1F7;
}
.cyrusbar {
    background-color: #131B23;
    position: absolute; /* Change from absolute to relative */
    top: 50%;
    right: 0;
    height: auto;
    width: 50px;
    z-index: 10;
    float: right;
    display: flex;
    transform: translateY(-50%);
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    margin-right: 1%;
    border: 1px solid #2274A5; /* Added white border */
    transition: all .1s ease-in-out;
}
.cyrusbar:hover {
    border: 1px solid #E9F1F7; /* Added white border */
}
.cyrusbar .voiceoptions {
    display: block; /* Stack buttons vertically */
    color: #944BBB; /* Changed icon color */
    width: 100%; /* Full width */
    border-radius: 10px; /* Rounded borders similar to button container */
    transition: all .1s ease-in-out;
    margin-top: 12.5px;
    margin-bottom: 7.5px;
}
.cyrusbar .voiceoptions:hover {
    color: #E9F1F7;
}

.chat-messages {
    flex-grow: 1;
    overflow-y: auto; /* Allow scrolling for overflow content */
    padding: 10px; /* Add some padding */
}