<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/stylesheet.css">
    <title>Project C.Y.R.U.S.</title>
    <style>
    </style>
<script src="https://cdn.tailwindcss.com"></script>
<script src="https://cdn.jsdelivr.net/npm/@tailwindcss/forms"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="{{ url_for('static', filename='stylesheet.css') }}" rel="stylesheet">
    <nav>
    <ul>
        <li><button onclick="location.href='#section_1'" class="nav-btn"><span class="material-icons">home</span></button></li>
        <li><button onclick="location.href='#section_2'" class="nav-btn"><span class="material-icons">info</span></button></li>
        <li><button onclick="location.href='#section_3'" class="nav-btn"><span class="material-icons">record_voice_over</span></button></li>
        <li><button onclick="location.href='#section_4'" class="nav-btn"><span class="material-icons">videocam</span></button></li>
        <li><button onclick="location.href='#section_5'" class="nav-btn"><span class="material-icons">settings</span></button></li>
    </ul>
    </nav>
    <div class="svg-container">
        <svg id="svgText">
          <symbol id="s-text">
                <text text-anchor="middle" x="45%" y="50%">PROJECT</text>
                <text text-anchor="middle" x="60%" y="95%">C.Y.R.U.S.</text>
        </symbol>
        
          <g class = "g-ants">
            <use xlink:href="#s-text" class="text-copy"></use>
            <use xlink:href="#s-text" class="text-copy"></use>
            <use xlink:href="#s-text" class="text-copy"></use>
            <use xlink:href="#s-text" class="text-copy"></use>
            <use xlink:href="#s-text" class="text-copy"></use>
          </g>
        </svg>
    </div>
<section id="section_1">
    <h1><span id="line">&nbsp;|&nbsp;</span> WELCOME TO<span id="line">&nbsp;|&nbsp;</span></h1>
    <h3><span id="line">&nbsp;|&nbsp;</span>CYBERNETIC RESPONSIVE UTILITY SYSTEM<span id="line">&nbsp;|&nbsp;</span></h1>
</section>
<section id="section_2">
    <div class="grid-container">
        <div class="grid-item">
            <div class="content top" id="left">
                <h1>Explore
                    <span id="C">C</span>.<span id="Y">Y</span>.<span id="R">R</span>.<span id="U">U</span>.<span id="S">S</span>'s
                    Capabilities...</h1>
                    <h3>Find out what <span id="C">C</span>.<span id="Y">Y</span>.<span id="R">R</span>.<span id="U">U</span>.<span id="S">S</span> can do <span class="for">for</span> <span class="you">you</span>.</h3>
            </div>
        </div>
        <div class="grid-item">
            <div class="content top" id="right">
                <div class="maintext">
                    <span id="showCY" class="material-icons EC">smart_toy</span><h1 id="execute">Execute Commands</h1>
                </div>
                <div id="info">
                    <img src="/static/images/zsh.png" id="terminal">
                    <h3>In the <span id="C">C</span>.<span id="Y">Y</span>.<span id="R">R</span>.<span id="U">U</span>.<span id="S">S</span>. system, you can execute terminal 
                        commands using your voice. By pressing the record 
                        button and speaking, your voice is transcribed to text, 
                        which is then processed and executed as a command 
                        in the terminal.</h3>
                </div>
            </div>
        </div>
        <div class="grid-item">
            <div class="content bottom" id="left">
                <div class="maintext">
                    <span id="showCY"class="material-icons VC">record_voice_over</span><h1 id="execute">Vocal Conversation</h1>
                </div>
                <div id="info">
                    <h3 id="vocalInfo">
                        To have a conversation with <span id="C">C</span>.<span id="Y">Y</span>.<span id="R">R</span>.<span id="U">U</span>.<span id="S">S</span>., 
                        you need to press the record button 
                        on the user interface, which starts 
                        recording your voice. After you finish 
                        speaking, release the button and CYRUS 
                        will process your voice command, and 
                        respond in a conversation like manner.
                    </h3>
                    <span id="wave" class="material-icons">graphic_eq</span><span id="wave1" class="material-icons">graphic_eq</span>
                </div>
            </div>
        </div>
        <div class="grid-item">
            <div class="content bottom" id="right">
                <div class="maintext">
                    <span id="showCY"class="material-icons GR">waving_hand</span><h1 id="execute">Gesture Recognition</h1>
                </div>
                <div id="info">
                    <span id="swipe" class="material-icons">swipe_up</span>
                    <h3>
                        Gesture recognition is used to identify specific hand movements, 
                        which are then mapped to functions that control light settings, 
                        such as toggling the light on/off or changing its color. This 
                        allows you to interact with the program and control its 
                        behavior using hand gestures.
                    </h3>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="section_3">
    <div class="chat-container">
        <div class="chat-messages">
                <!-- Chat messages will be appended here -->
        </div>
        <div class="button-container">
            <button id="recordButton" class="microphone-icon py-2 px-4 rounded inline-flex">
                <span class="material-icons">mic</span>
                <div class="record-text">Press button to start recording</div>
            </button>
            <button id="removeButton" class="remove-button py-2 px-4 rounded inline-flex">
                <span class="material-icons">refresh</span>
                <div class="remove-text">Press button to refresh session</div>
            </button>
        </div>
    </div>
    <ul class="cyrusbar">
        <li><button id="cyrusbutton" class="voiceoptions"><span class="material-icons">smart_toy</span></button></li>
        <li><button id="cyrusbutton" class="voiceoptions light"><span class="material-icons">lightbulb</span></button></li>
        <li><button id="cyrusbutton" class="voiceoptions mail"><span class="material-icons">mail</span></button></li>
    </ul>
</section>
<section id="section_4">
  <img src="http://127.0.0.1:8000/video_feed" alt="Video Stream loading" id="VideoStream" class="Video">
    <ul class="sidebar">
      <li><button id="brectButton" class="videooptions"><span class="material-icons">crop_5_4</span></button></li>
      <li><button id="infoText" class="videooptions"><span class="material-icons">feed</span></button></li>
      <li><button id="drawPoint" class="videooptions"><span class="material-icons">timeline</span></button></li>
      <li><button id="drawLine" class="videooptions"><span class="material-icons">ssid_chart</span></button></li>
    </ul>
</section>
<section id="section_5"></section>
<script src="https://cdn.socket.io/4.6.0/socket.io.min.js" integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+" crossorigin="anonymous"></script>
<script>
let mediaRecorder;
let recordedChunks = [];

var socket = io.connect('http://' + document.domain + ':' + location.port);

socket.on('user_text', function(msg) {
        console.log('Received user_text: ', msg.data);
        const chatExchanges = document.querySelectorAll('.chat-exchange');
        const lastExchange = chatExchanges[chatExchanges.length - 1];
        const output = lastExchange.querySelector('.user-text');
        output.innerHTML += msg.data + " ";
        chatOutput.scrollTop = chatOutput.scrollHeight; // Added to scroll down to the latest message
});

socket.on('chatbot_text', function(msg) {
        console.log('Received chatbot_text: ', msg.data);
        const chatExchanges = document.querySelectorAll('.chat-exchange');
        const lastExchange = chatExchanges[chatExchanges.length - 1];
        const output = lastExchange.querySelector('.chatbot-text');
        output.innerHTML += msg.data;
        chatOutput.scrollTop = chatOutput.scrollHeight; // Added to scroll down to the latest message

});

const recordButton = document.getElementById('recordButton');
const chatOutput = document.querySelector('.chat-messages'); // Updated to select the new chat-messages div
const removeButton = document.getElementById('removeButton');

var svgText = document.getElementById('svgText');

// Added event listener to the recordButton to start/stop recording when clicked
recordButton.addEventListener('click', function() {

    if(mediaRecorder && mediaRecorder.state == 'recording') {
    stopRecording();
    recordButton.classList.remove('recording');
    } else {
    startRecording();
    recordButton.classList.add('recording');
}
svgText.classList.remove('high-opacity');
svgText.classList.add('low-opacity');
});

removeButton.addEventListener('click', function()
{
    removeAllDivs();
    svgText.classList.remove('low-opacity');
    svgText.classList.add('high-opacity');
});

function startRecording() {
    recordedChunks = [];
    addUserDiv();

    navigator.mediaDevices.getUserMedia({ audio: true })
    .then(stream => {
        mediaRecorder = new MediaRecorder(stream);
        mediaRecorder.start();
        mediaRecorder.addEventListener('dataavailable', function(e) {
            recordedChunks.push(e.data);
        });
    });
}
function stopRecording() {
    addChatbotDiv();
    mediaRecorder.addEventListener('stop', function() {
        const audioBlob = new Blob(recordedChunks);
        const formData = new FormData();
        formData.append('file', audioBlob);
        fetch('/upload', {
            method:'POST',
            body: formData
        })
        .then(data => {
            //addPlaceholderDivs();
        })
    });
    mediaRecorder.stop();
}

function stopCyrusRecording() {
    addChatbotDiv();
    mediaRecorder.addEventListener('stop', function() {
        const audioBlob = new Blob(recordedChunks);
        const formData = new FormData();
        formData.append('file', audioBlob);
        fetch('/cyrus', {
            method:'POST',
            body: formData
        })
        .then(data => {
            //addPlaceholderDivs();
        })
    });
    mediaRecorder.stop();
}

function stopLightRecording() {
    addChatbotDiv();
    mediaRecorder.addEventListener('stop', function() {
        const audioBlob = new Blob(recordedChunks);
        const formData = new FormData();
        formData.append('file', audioBlob);
        fetch('/light', {
            method:'POST',
            body: formData
        })
        .then(data => {
            //addPlaceholderDivs();
        })
    });
    mediaRecorder.stop();
}

function stopSilentRecording() {
    addChatbotDiv();
    mediaRecorder.addEventListener('stop', function() {
        const audioBlob = new Blob(recordedChunks);
        const formData = new FormData();
        formData.append('file', audioBlob);
        fetch('/silent', {
            method:'POST',
            body: formData
        })
        .then(data => {
            //addPlaceholderDivs();
        })
    });
    mediaRecorder.stop();
}

function addUserDiv() {
    const messageDiv = document.createElement('div');
    messageDiv.className = 'message chat-exchange';

    const userDiv = document.createElement('div');
    userDiv.className = 'user-text';
    userDiv.textContent = 'User: ';
    const userIcon = document.createElement('span');
    userIcon.className = 'material-icons message-icon';
    userIcon.textContent = 'account_circle';
    userDiv.appendChild(userIcon);
    messageDiv.appendChild(userDiv);

    chatOutput.appendChild(messageDiv);
    chatOutput.scrollTop = chatOutput.scrollHeight; // Added to scroll down to the latest message
}

function addChatbotDiv() {
    const chatExchanges = document.querySelectorAll('.chat-exchange');
    const lastExchange = chatExchanges[chatExchanges.length - 1];

    const chatbotDiv = document.createElement('div');
    chatbotDiv.className = 'chatbot-text';
    chatbotDiv.textContent = 'Chatbot: ';
    const chatbotIcon = document.createElement('span');
    chatbotIcon.className = 'material-icons message-icon';
    chatbotIcon.textContent = 'chat';
chatbotDiv.appendChild(chatbotIcon);
lastExchange.appendChild(chatbotDiv);

chatOutput.scrollTop = chatOutput.scrollHeight; // Added to scroll down to the latest message
}

function removeAllDivs() {
const messageDivs = document.querySelectorAll('.message');
messageDivs.forEach(div => div.remove());
}
setTimeout(() => {
chatOutput.scrollTop = chatOutput.scrollHeight;
}, 0);

//cyrus record button 

const cyrusButton = document.getElementById('cyrusbutton');

cyrusButton.addEventListener('click', function() {
if(mediaRecorder && mediaRecorder.state == 'recording') {
    stopCyrusRecording();
    cyrusButton.classList.remove('recording');
} else {
    startRecording();
    cyrusButton.classList.add('recording');
}
svgText.classList.remove('high-opacity');
svgText.classList.add('low-opacity');
});

//light record button

const lightButton = document.getElementsByClassName('light')[0];

lightButton.addEventListener('click', function() {
if(mediaRecorder && mediaRecorder.state == 'recording') {
    stopLightRecording();
    lightButton.classList.remove('recording');
} else {
    startRecording();
    lightButton.classList.add('recording');
}
svgText.classList.remove('high-opacity');
svgText.classList.add('low-opacity');
});

//VIDEO OPTIONS

let showBrect = false;

const brectButton = document.getElementById('brectButton');
brectButton.addEventListener('click', function() {
showBrect = !showBrect;
fetch('/update_showBrect', {
    method: 'POST',
    headers: {
        'Content-Type': 'application/x-www-form-urlencoded',
    },
    body: `showBrect=${showBrect}`,
});
});

let showInfo = false;

const infoButton = document.getElementById('infoText');
infoButton.addEventListener('click', function() {
showInfo = !showInfo;
fetch('/update_showInfo', {
    method: 'POST',
    headers: {
        'Content-Type': 'application/x-www-form-urlencoded',
    },
    body: `showInfo=${showInfo}`,
});
});

let drawPoint = true;

const drawPoints = document.getElementById('drawPoint');
drawPoints.addEventListener('click', function() {
drawPoint = !drawPoint;
fetch('/update_drawPoint', {
    method: 'POST',
    headers: {
        'Content-Type': 'application/x-www-form-urlencoded',
    },
    body: `drawPoint=${drawPoint}`,
});
});

let drawLine = false;

const drawLines = document.getElementById('drawLine');
drawLines.addEventListener('click', function() {
drawLine = !drawLine;
fetch('/update_drawLine', {
    method: 'POST',
    headers: {
        'Content-Type': 'application/x-www-form-urlencoded',
    },
    body: `drawLine=${drawLine}`,
});
});

//videostream in viewport

function isElementInViewport(el) {
    var rect = el.getBoundingClientRect();
    var windowHeight = (window.innerHeight || document.documentElement.clientHeight);
    var windowWidth = (window.innerWidth || document.documentElement.clientWidth);

    // Check if at least 50% of the element is in the viewport
    var vertInView = (rect.top <= windowHeight) && ((rect.top + rect.height/2) >= 0);
    var horInView = (rect.left <= windowWidth) && ((rect.left + rect.width/2) >= 0);

    return (vertInView && horInView);
}

function checkVideoStream() {
var section = document.getElementById('section_4');
var videoStream = document.getElementById('VideoStream');
if (isElementInViewport(section)) {
    // Section is in view, start the video stream
    videoStream.src = "http://127.0.0.1:8000/video_feed";
} else {
    // Section is not in view, stop the video stream
    videoStream.src = "";
}
}

// Event listener for scrolling and initial check
window.addEventListener('scroll', checkVideoStream);
window.addEventListener('load', checkVideoStream);
</script>
</html>
